<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <add name="cmp" connectionString="server=159.89.117.198;user id=DevOSHT;pwd=Snodgr4ss!;persistsecurityinfo=True;database=cmp;port=3306"  providerName="MySql.data.MySqlClient" />
  </connectionStrings>
</configuration>